[alias]
    st = status -s
    cl = clone
    ci = commit
    co = checkout
    br = branch
    r = reset
    cp = cherry-pick
    gr = grep -Ii
    up = !git pull --rebase --prune $@ && git submodule update --init --recursive